Tex/main.aux
Tex/main.log
Tex/main.synctex.gz
.aux
.log
Tex/funs.log
Tex/funs.out
Tex/funs.synctex.gz
Tex/npLogicFunctions.aux
Tex/NumpyFuns.aux
Tex/NumpyFunsEncountered.aux
Tex/overall.aux
Tex/funs.aux
